@page "/"

@inject IJSRuntime JsRuntime;

<div id="your-element-selector" style="height: 100vh; width: 100%;">

    <div>

    </div>

</div>


@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("blazorExtensions.Set");
        await base.OnAfterRenderAsync(firstRender);
    }
}
